@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Comfortaa:wght@300..700&display=swap');


* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
} 

body
{
   background-image:url(assets/glitter.jpg);/*Nova funcionalidade: adicionei uma imagem de fundo na página porém a image está repetindo*/
   font-family:"Comfortaa", serif;   
}

h1
{
    font-family: 'Cabin',serif;
}
header
{
    background-color: #ffffff;
    padding:0.9rem;
    text-align:center;
    border-bottom: 3px solid rgb(252, 165, 212); /*Nova funcionalidade descoberta: borda apenas em baixo*/
}


main /*ajustar o espaço entre os elementos*/
{
    padding: 1.5rem;
    display:flex; /*usar um tal de flexbox*/
    flex-direction:column; /*organiza em coluna*/
    gap:2rem; /*define o espaçamento entre os "filhos", os outros itens*/
}

img 
{
    width: 20rem; 
   /*display: block;
   margin: 0px auto; Assim deixa as imagens no centro */ 
   cursor: pointer; 
} 

footer
{
    background-color: #ffffff;
    padding:2rem;
    text-align:center;
}

summary
{
    color:#690464;
    margin:1rem;
    cursor:pointer;
    font-size: 22px;
    
}
